secrets:
  postgres_password:
    file: ./secrets/postgres_password

services:
  postgres:
    image: postgres:17.0-alpine3.20
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    secrets:
      - postgres_password
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
      POSTGRES_USER: postgres
    volumes:
      - postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres || exit 1"]
      interval: 20s
      timeout: 30s
      retries: 5
      start_period: 15s
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  backend:
    build: ./backend
    volumes:
      - ./backend:/code
    secrets:
      - postgres_password
    ports:
      - "8000:8000"
    restart: always
    entrypoint: /code/django.sh
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres: