Django>=4.2
psycopg[binary, pool]>=2.9.1
pillow
crispy-bootstrap4
django-crispy-forms
channels
daphne
djangorestframework-jwt
djangorestframework-simplejwt
djangorestframework
requests
pyotp
qrcode
whitenoise