/* Overwrites the Leave room buttons design */
.btn-danger {
	font-family: 'Fredoka', sans-serif !important;
	color: white !important;
	font-weight: bold !important;
	border-radius: 10px !important;
}

.btn-danger:focus {
	outline: none !important;
}

#leave-room-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;
}