/* Overwrites the primary button, which is notably the join and create room button */
.btn-primary {
	background-color: #1c4f73 !important;
	font-family: 'Fredoka', sans-serif !important;
	color: white !important;
	font-weight: bold !important;
	border-radius: 10px !important;
}

.btn-primary:hover {
	background-color: #163d5a !important;
}

.btn-primary:focus {
	outline: none !important;
}

.btn-success {
	font-family: 'Fredoka', sans-serif !important;
	color: white !important;
	font-weight: bold !important;
	border-radius: 10px !important;
}

/* Overwrites the Submit button to have the same style as the others */
.btn-success:focus {
	outline: none !important;
}

/* A small line between the Available Rooms and the Create Room */
.room-list-column {
	border-right: 1px solid #163d5a !important;
	padding-right: 20px !important;
}
