/* Overwrites the Leave room buttons design */
.btn-danger {
	font-family: 'Fredoka', sans-serif !important;
	color: white !important;
	font-weight: bold !important;
	border-radius: 10px !important;
}

.btn-danger:focus {
	outline: none !important;
}

/* Fixes the leave room button to the bottom right */
#leave-room-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;
}

/* Sets the participants list to the left side */
#participants-list {
	position: fixed;
	top: 60px;
	left: 20px;
	/* width: 200px; */
	max-width: 35vw;
	height: calc(100vh - 40px);
	overflow-y: auto;
	/* border: 1px solid #ddd; */
	padding: 10px;
	border-radius: 5px;
}

/* Controls the welcome to room header etc, might be removed at some point */
.room-header-container {
	margin-top: 60px;
	margin-left: calc(200px + 20px);
	padding-right: 20px;
	max-width: calc(100vw - 240px);
}

/* Sets the position of the settings button */
#settings-button {
	position: fixed;
	top: 120px;
	right: 20px;
	padding: 10px 20px;
}

/* Sets the settings menu below the settings button */
#settings-menu {
	position: fixed;
	top: 180px;
	right: 20px;
	padding:10px 20px;
}

#settings-menu .btn-outline-primary.active {
	background-color: #1c4f73 !important;
	border-color: #1c4f73 !important;
	color: white !important;
}

#settings-menu .btn-outline-primary {
	border-color: #1c4f73 !important;
	color: #1c4f73 !important;
}

#settings-menu .btn-outline-primary:hover {
	background-color: #163d5a  !important;
	border-color: #163d5a !important;
	color: white !important;
}


#settings-menu .btn-outline-primary:focus {
	outline: none !important;
	box-shadow: 0 0 0 0.1rem rgba(28, 79, 115, 0.5) !important;
}

#settings-menu .btn-group .btn-outline-primary:first-child {
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

#settings-menu .btn-group .btn-outline-primary:last-child {
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}

#settings-menu .card-title {
	font-weight: bold;
}

#countdown {
	position: fixed;
	top: 60px;
	right: 20px;
	/* margin-top: 40px; */
}