#id_password,
#id_username {
	color:#1c4f73 !important;
	border: 1px solid #1c4f73 !important;
	border-radius: 10px !important;
	width: 300px;
}

#id_password,
#id_username:focus {
	outline: none !important;
	box-shadow: none !important;
	border-color: #1c4f73 !important;
}

#login-headline {
	color: #1c4f73;
	font-size: 2em;
	font-weight: bold;
}
