.btn-outline-info {
	/* background-color: #1c4f73 !important; */
	font-family: 'Fredoka', sans-serif !important;
	color: #1c4f73 !important;
	font-weight: bold !important;
	border-radius: 10px !important;
	border-color: #1c4f73 !important;
}

.btn-outline-info:hover {
	background-color: #163d5a !important;
	border-color: #163d5a !important;
	color: white !important;
}

.btn-outline-info:focus {
	outline: none !important;
	box-shadow: none !important;
	border-color: #1c4f73 !important;
}

#id_password,
#id_username {
	color:#1c4f73 !important;
	border: 1px solid #1c4f73 !important;
	border-radius: 10px !important;
	width: 300px;
}

#id_password,
#id_username:focus {
	outline: none !important;
	box-shadow: none !important;
	border-color: #1c4f73 !important;
}

#login-headline {
	color: #1c4f73;
	font-size: 2em;
	font-weight: bold;
}

#account-register-link {
	color: #7ab5e0;
	text-decoration: underline;
	font-weight: bold;
}

#account-register-link:hover {
	color: #163d5a;
	text-decoration: underline;
	cursor: pointer;
}

#register-link-container {
	font-size: 16px;
}

#login-signin-button {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* login.css */
.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.loading-spinner {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #1c4f73; /* Match your theme color */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}