

#pong-app-content h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
	border-bottom: 2px solid #eee;
	padding-bottom: 5px;
}

#pong-app-content h3 {
	margin-top: 20px;
	font-size: 1.2rem;
	color: #555;
}


#pong-app-content button {
	background-color: #007BFF;
	border: none;
	color: white;
	padding: 10px 15px;
	margin: 5px 0;
	font-size: 1rem;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#pong-app-content button:hover {
	background-color: #0056b3;
}


.ChatButtonBackground {
	background-color: #28a745 !important;
}
.ChatButtonBackground:hover {
	background-color: #1e7e34 !important;
}


#refresh-button {
	background-color: #ffc107;
	color: #333;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;
}
#refresh-button:hover {
	background-color: #e0a800;
}

.navigate-button {
	outline: none;
}


#pong-app-content input[type="text"] {
	width: 100%;
	padding: 8px 10px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}


@media (max-width: 600px) {
	#pong-app-content.active {
	padding: 10px;
	}
	button {
	width: 100%;
	}
}


#recent-games-container button,
#pendingGamesContainer button,
#pendingTournamentsContainer button {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

#pending-games-header {
	margin-top: 40px;
}
#open-tournaments-header {
	margin-top: 40px;
}


.top-menu {
	display: flex;
	flex-direction: column;  
	align-items: center;     
	gap: 0;                  
	margin-bottom: 20px;     
}


.top-menu > * {
	width: 300px; 
	margin: 0;
}


.top-menu button {
	width: 100%;
	text-align: center;
}


.top-menu input[type="text"] {
	width: 100%;
	padding: 10px 15px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 0;
}