
.ready-bar {
	display: flex;
	align-items: center; 
	justify-content: space-between; 
	background-color: #333; 
	padding: 10px 20px; 
	border-radius: 10px; 
	margin: 20px 0; 
	max-width: 804px;
}


#pong-app-content button.ready {
	padding: 8px 15px;
	font-size: 16px;
	font-weight: bold;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
}

#ws {
	background-color: #32b7b2;
}

#up_down {
	background-color: #32b7b2;
}

#pong-app-content button.ready:hover {
	background-color: #45a049;
	transform: translateY(-2px);
}

#pong-app-content button.ready:focus {
	outline: none;
	box-shadow: 0 0 10px rgba(72, 160, 72, 0.6);
}

#pong-app-content button.ready:active {
	background-color: #28b02f;
	transform: translateY(2px);
}


.ready-text {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin: 0 15px; 
}


.is_ready {
	font-size: 18px;
	color: #fff;
	margin: 0 10px; 
}


.is_ready.player1 {
	color: #4CAF50; 
}

.is_ready.player2 {
	color: #2196F3; 
}

.vertical-text {
	display: inline-block;
	writing-mode: vertical-rl; 
	text-orientation: upright; 
}

.gameContainer {
	text-align: center;
	margin-top: 50px;
}

.gameCanvas {
	border: 2px solid #000; 
	background-color: #f0f0f0; 
	justify-content: center;
	align-items: center;
}

.score {
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	max-width: 804px;
}

.player {
	flex: 1; 
	text-align: center; 
	padding: 10px;
	border: 1px solid #ccc; 
	
}

.header-container {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
	width: 100%; 
}


#start-game {
	padding: 15px 30px;
	font-size: 1.2rem;
	font-weight: bold;
	color: white;
	background-color: #4CAF50;  
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#start-game:hover {
	background-color: #45a049;  
	transform: translateY(-2px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#start-game:active {
	transform: translateY(1px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pong-error-message {
	color: #d32f2f;
	font-weight: bold;
	margin-top: 10px;
	animation: fadeIn 0.3s ease-in-out;
	align-items: center;
}
