{% extends "game/game_base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Profile</title>
	<link rel="stylesheet" href="{% static 'users/styles.css' %}">
</head>

<body>
	<div class="profile-container">
		<div class="profile-header">
			<div class="media-body">
				<div class="media">
					<img class="mx-auto rounded-circle account-img" src="{{ user_profile.image.url }}">
				</div>
				<h1>{{ user_profile.user.username }}</h1>
				<p class="profile-date">{{ user_profile.player.created_at|date:"Y-m-d @ H:i" }}</p>
				{% if sender and not is_friend and not has_received %}
				<a href="{% url 'users:friend-request' user_profile.user.username %}" class="list-group">
					<button type="button" class="btn btn-transparent">friend-request</button>
				</a>
				{% endif %}
				{% if has_sent %}
				<a href="{% url 'users:cancel-friend-request' user_profile.user.username %}" class="list-group">
					<button type="button" class="btn btn-danger">cancel</button>
				</a>
				{% elif is_friend %}
				<a href="{% url 'users:remove-friend' user_profile.user.username %}" class="list-group">
					<button type="button" class="btn btn-danger">remove</button>
				</a>
				{% endif %}
				{% if has_received %}
				<a href="{% url 'users:deny-friend-request' user_profile.user.username %}" class="list-group">
					<button type="button" class="btn btn-danger">deny</button>
				</a>
				<a href="{% url 'users:accept-friend-request' user_profile.user.username %}" class="list-group">
					<button type="button" class="btn btn-success">accept</button>
				</a>
				{% endif %}
				<hr>
				{% if friend_requests_received %}
				<h3>received requests</h3>
				{% for received in friend_requests_received %}
				<div class="btn-group" role="group" aria-label="accept or decline friend request">
					<a href="{% url 'users:deny-friend-request' received.username %}" class="list-group">
						<button type="button" class="btn btn-danger">deny</button>
					</a>
					<a href="{% url 'users:public-profile' received.username %}" class="list-group">
						<button type="button" class="btn btn-warning">
							{{ received.username }}
						</button>
					</a>
					<a href="{% url 'users:accept-friend-request' received.username %}" class="list-group">
						<button type="button" class="btn btn-success">accept</button>
					</a>
				</div>
				{% endfor %}
				{% endif %}
				{% if friend_requests_sent %}
				<h3>sent requests</h3>
				{% for sent in friend_requests_sent %}
				<div class="btn-group" role="group" aria-label="cancel friend request">
					<a href="{% url 'users:cancel-friend-request' sent.username %}" class="list-group">
						<button type="button" class="btn btn-danger">cancel</button>
					</a>
					<a href="{% url 'users:public-profile' sent.username %}" class="list-group">
						<button type="button" class="btn btn-warning">
							{{ sent.username }}
						</button>
					</a>
				</div>
				{% endfor %}
				{% endif %}
				<hr>
				<div class="profile-stats">
					<div class="profile-stat">
						{% if user_profile.player.matches_lost == 0 %}
						<h3>Perfect</h3>
						{% else %}
						<h4>{{ user_profile.player.win_to_loss_ratio }}</h4>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="games-container">
			<div class="games-won">
				<h3>Wins</h3>
				{% for game in games_won %}
				<div class="game-item">
					<a href="{% url 'game:game_details' game.id %}"
						class="list-group-item list-group-item-action list-group-item-success" aria-current="true">
						{{ game.player1 }} vs {{ game.player2 }}
					</a>
					<small class="text-muted">{{ game.played_at|date:"Y-m-d @ H:i" }}</small>
				</div>
				{% endfor %}
			</div>
			<div class="games-lost">
				<h3>Losses</h3>
				{% for game in games_lost %}
				<div class="game-item">
					<a href="{% url 'game:game_details' game.id %}"
						class="list-group-item list-group-item-action list-group-item-danger" aria-current="true">
						{{ game.player1 }} vs {{ game.player2 }}
					</a>
					<small class="text-muted">{{ game.played_at|date:"Y-m-d @ H:i" }}</small>
				</div>
				{% endfor %}
			</div>
		</div>
		{% if friends or manage_friends %}
		<div class="friends-container">
			<h3>Friends</h3>
			{% for friend in friends %}
			<div class="friend-item">
				<a href="{% url 'users:public-profile' friend.username %}" class="list-group">
					{{ friend.username }}
				</a>
			</div>
			{% endfor %}
			{% for friend in manage_friends %}
			<div class="friend-item">
				<div class="btn-group" role="group" aria-label="accept or decline friend request">
					<a href="{% url 'users:remove-friend' friend.username %}" class="list-group">
						<button type="button" class="btn btn-danger">remove</button>
					</a>
					<a href="{% url 'users:public-profile' friend.username %}" class="list-group">
						<button type="button" class="btn btn-transparent">
							{{ friend.username }}
						</button>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<p>No friends yet.</p>
		{% endif %}
</body>

</html>
{% endblock %}