{%extends "blog/base.html"%}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user_profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user_profile.get_name }}</h2>
            <p class="text-secondary">{{ user_profile.player.created_at|date:"F j, Y" }}</p>
        </div>
    </div>
    <legend class="border-bottom mb-4">match history</legend>
    {% for game in games %}
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">
                <a href="{% url 'game:game_details' game.id %}">
                    {{ game.player1 }} vs {{ game.player2 }}
                </a>
            </h2>
            <p class="text-secondary">{{ game.played_at|date:"Y-m-d @ H:i" }}</p>
        </div>
        {% endfor %}
    </div>
    {% endblock content %}