<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>

<body>
    <h2>Dashboard</h2>
    {% if dashboard.games_played != 0 %}
    <h3>Games Played: {{ dashboard.games_played }}</h3>
    {% else %}
    <p>There are no games.</p>
    {% endif %}
    {% if dashboard.active_players != 0 %}
    <h3>Active Players: {{ dashboard.active_players }}</h3>
    {% else %}
    <p>There are no players.</p>
    {% endif %}
    <h3>Leaderboard</h3>
    {% if dashboard.leaderboard %}
    {{ dashboard.leaderboard }}
    {% else %}
    <p>There are no players.</p>
    {% endif %}
</body>

</html>