{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Room: {{ room.name }}</title>
		<style>
		.correct { background-color: green; }
		.incorrect { background-color: red; }
	</style>
</head>
<body data-room-name="{{ room.name }}">
	{% include 'navbar.html' %}
	<h1>Welcome Ingame: {{ room.name }}</h1>

	<h2>Participants:</h2>
	<ul id="participants">
		{% for participant in room.participants.all %}
		<li>{{ participant.user.username }}</li>
		{% endfor %}
	</ul>
	<form method="post" action="{% url 'quiz:leave_room' room.name %}">
		{% csrf_token %}
		<button type="submit">Leave Room</button>
	</form>
	<!-- {% if user == room.leader.user %}
		<div id="leader-options">
			<button id="start-game">Start Game</button>
		</div>
	{% endif %} -->
	{% if question %}
		<div id="question">
			<h2>{{ question.question }}</h2>
				<ul id="answers">
					{% for answer in shuffled_answers %}
					<!-- <button id="answer-option" onclick="submitAnswer('{{ answer }}')">{{ answer }}</button> -->
					<button id="answer-option" data-answer-url="{% url 'quiz:submit_answer' room.name %}" onclick="submitAnswer('{{ answer }}', this)">{{ answer }}</button>
					{% endfor %}
				</ul>
		</div>
	{% endif %}
</body>
</html>

<script src="{% static 'quiz/js/game.js' %}"></script>
<script src="{% static 'quiz/js/roommemberupdate.js' %}"></script>