{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Room: {{ room.name }}</title>
</head>
<body data-room-name="{{ room.name }}">
	{% include 'navbar.html' %}
	<h1>Welcome to Room: {{ room.name }}</h1>

	<h2>Participants:</h2>
	<ul id="participants">
		{% for participant in room.participants.all %}
		<li>{{ participant.user.username }}</li>
		{% endfor %}
	</ul>
	<form method="post" action="{% url 'quiz:leave_room' room.name %}">
		{% csrf_token %}
		<button type="submit">Leave Room</button>
	</form>
	{% if user == room.leader.user %}
		<!-- <div id="leader-options">
			<button id="start-game">Start Game</button>
		</div> -->
		<form method="post" action="{% url 'quiz:start_game' room.name %}">
			{% csrf_token %}
			<button type="submit">Start Game</button>
		</form>
	{% endif %}
</body>
</html>

<script src="{% static 'quiz/js/roommemberupdate.js' %}"></script>