{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Profile</title>
	<link rel="stylesheet" href="{% static 'users/styles.css' %}">
</head>

<body>
	<div class="profile-container">
		<div class="profile-header">
			<div class="media-body">
				<div class="media">
					<img class="mx-auto rounded-circle account-img" src="{{ query_user.image.url }}">
				</div>
				<p>Status: {{ query_user.online|yesno:"Online,Offline" }}</p>
				<h1>{{ query_user.username }}</h1>
				<p class="profile-date">{{ query_user.date_joined|date:"Y-m-d @ H:i" }}</p>
				{% if pong_matches_lost != 0 or pong_matches_won != 0 %}
				<hr>
				<div class="profile-stats">
					<div class="profile-stat">
						<h4>{{ pong_win_loss_ratio }}</h4>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="games-container">
			{% if games_won %}
			<div class="games-won">
				<h3>Wins</h3>
				{% for game in games_won %}
				<div class="game-item">
					<a href="/pong/game-details/{{game.id}}"
						class="list-group-item list-group-item-action list-group-item-success" aria-current="true">
						{{ game.player1 }} vs {{ game.player2 }}
					</a>
					<small class="text-muted">{{ game.played_at|date:"Y-m-d @ H:i" }}</small>
				</div>
				{% endfor %}
			</div>
			{% endif %}
			{% if games_lost %}
			<div class="games-lost">
				<h3>Losses</h3>
				{% for game in games_lost %}
				<div class="game-item">
					<a href="/pong/game-details/{{game.id}}"
						class="list-group-item list-group-item-action list-group-item-danger" aria-current="true">
						{{ game.player1 }} vs {{ game.player2 }}
					</a>
					<small class="text-muted">{{ game.played_at|date:"Y-m-d @ H:i" }}</small>
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
</body>

</html>
{% endblock %}