{%extends "chat/base.html"%}
{% block content %}
	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="Top-Bar">
					<h1 class="element">All your Chats</h1>
					<button class="btn btn-outline-info" id="New_Chat"> New Group + </button>
				</div>
				<div id="messages">
					{% for room in rooms %}
						<a href="{% url 'room_detail' room.id %}" class="ChatButtonBackground">
							{{ room.groupName }}
						</a>
					{% endfor %}
				</div>
			</div>
			<div class="content-section" style="display: none;">
				<h3>Info</h3>
				<p class='text-muted'> Create New GroupChat:
					<ul class="list-group">
						<li class="list-group-item list-group-item-light">no spaces or extras</li>
					</ul>
					<form method="POST" action="{% url 'chat' %}">
						{% csrf_token %}
						<!-- <label form="chat_name">Chat Name:</label> -->
						<input class="messageInput" id="chat_name" type="text" name="chat_name" placeholder="Enter chat name"/>
						<button class="add_user" type="submit">Add Group +</button>
					</form>
				</p>
			</div>
		</div>
	</main>
{% endblock content %}


