{%extends "chat/base.html"%}
{% block content %}
	<div id="chat-data" data-username="{{ request.user.username }}"
		data-room-name="{{ group.groupName }}" data-room-id="{{ room_id }}"></div>

	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="Top-Bar">
					<h1 class="element">{{ group.groupName }}</h1>
					<button class="btn btn-outline-info" id="Info_Button"> Info</button>
				</div>
				<div id="messages">
					{% for message in messages %}
						{% if message.author.username != request.user.username  %}
							<div class="message-box-other">
								<div class="message-background">
									<p class="author">{{ message.author.username }}</p>
									<p class="message-text">{{ message.content }}</p>
								</div>
							</div>
						{% else %}
							<div class="message-box-you">
								<div class="message-background">
									<p class="author">{{ message.author.username }}</p>
									<p class="message-text">{{ message.content }}</p>
								</div>
							</div>
						{% endif %}
					{% empty %}
						<p>Keine Nachrichten vorhanden.</p>
					{% endfor %}
					<div id="id_other_container"></div>
				</div>
				<div class="input-container" id="id_chat_item_container"style="font-size: 20px">
					<br />
					<input class="messageInput" id="messageInputChat" type="text" />
					<button class="send-button" type="submit" id="id_message_send_button">&#10132;</button>
					<br />
				</div>
			</div>
			<div class="col-md-4">
				<div class="content-section" style="display: none;">
					<h3>Info</h3>
					<p class='text-muted'> Group Members:
						<ul class="list-group">
							{% for member in members %}
								<li class="list-group-item list-group-item-light">{{ member }}</li>
							{% endfor %}
						</ul>
						<input class="messageInput" id="messageInputAddUser" type="text" />
						<button class="add_user" type="submit" id="add_user_button">Add user +</button>
						<!-- <a class="add_user" href="/chat/{{ room_id }}/add/">Add user +
							{{ room_id }}
						</a> -->
					</p>
				</div>
			</div>
		</div>
	</main>
{% endblock content %}