{%extends "chat/base.html"%}
{% block content %}
  <main role="main" class="container">
    <div class="row">
    <div class="col-md-8">
        <div id="messages">
            {% for message in messages %}
                {% if message.author.username != request.user.username  %}
                    <div class="message-box-other">
                        <div class="message-background">
                            <p class="author">{{ message.author.username }}</p>
                            <p class="message-text">{{ message.message }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="message-box-you">
                        <div class="message-background">
                            <p class="author">{{ message.author.username }}</p>
                            <p class="message-text">{{ message.message }}</p>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <p>Keine Nachrichten vorhanden.</p>
            {% endfor %}
            <div id="id_other_container"></div>
        </div>
        <div class="input-container" id="id_chat_item_container"style="font-size: 20px">
            <br />
            <input class="messageInput" type="text" id="id_message_send_input" />
            <button class="send-button" type="submit" id="id_message_send_button">&#10132;</button>
            <br />
         </div>
    </div>
    </div>
  </main>
{% endblock content %}

