{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="csrf-token" content="{{ csrf_token }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game Creation</title>
	<link rel="stylesheet" href="/static/game/css/chat.css">
	<link rel="stylesheet" href="/static/game/css/game.css">
</head>
<body>
	{% include 'navbar.html' %}

	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	<div id="username" data-username="{{ user.username }}"></div>
	<div class="container mt-5" id="pong-app-content"></div>



	
	<script type="module" src="/static/game/js/router.js"></script>
	<script type="module" src="/static/game/js/game_base_socket.js"></script>
	<script type="module" src="/static/game/js/pages.js"></script>
	<script type="module" src="/static/game/js/main.js"></script>
	<script type="module" src="/static/game/js/CreateGame.js"></script>
	<script type="module" src="/static/game/js/GameAPI.js"></script>
	<script type="module" src="/static/game/js/game.js"></script>
	<script type="module" src="/static/game/js/gameDetails.js"></script>
</body>
</html>
