{% extends "game/game_base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game Details</title>
	<link rel="stylesheet" href="{% static 'users/styles.css' %}">
</head>

<body>
	{% block content %}
	<div class="profile-container" style="text-align: center;">
		<h1>{{ game.score1 }} - {{ game.score2 }}</h1>

		<p class=" profile-date" style="text-align: center;">{{ game.played_at|date:"Y-m-d @ H:i" }}</p>
	</div>
	<div class="games-container" style="display: flex; justify-content: center;">
		<div class="player-one" style="display: flex; justify-content: center; padding-right: 100px;">
			<h3>
				<a href="{% url 'users:public-profile' game.player1.user.username %}">
					{{ game.player1.user.username }}
				</a>
			</h3>
		</div>
		<div class="player-two" style="display: flex; justify-content: center; padding-left: 100px;">
			<h3>
				<a href="{% url 'users:public-profile' game.player2.user.username %}">
					{{ game.player2.user.username }}
				</a>
			</h3>
		</div>
	</div>
	</div>
	{% endblock %}
</body>


</html>